body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 12px; /* I change its size from 16 to 12 for first section para */
    font-weight:400;
    color: #0f2656;
}


/* navigation bar start  */
header{
    width: 100%;
    border: 1px solid #E6E6E6;
}
.container{
    width: 90%;
    /* border: 1px solid black; */
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 10%;
    /* border: 1px solid black; */
    float: left;
}
.logo img {
    width: 100%;
    float: left;
}
.menu{
    width: 50%;
    /* border: 1px solid black; */
    float: right;
}
.menu ul{
    float: right;
    padding-top: 10px;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    display: inline-block;
    padding: 0px 25px;
    color: #0f2656;
    text-decoration: none;
    transition: .53s;
}
.menu ul li a:hover {
    color: #008aff;
    transform: scale(1.5);
}
/* navigation bar end  */
/*-- ------------------------------------------------- --*/
/* section for heading after navigation bar start */
.banner{}
.container2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.b-h1 {
    margin-bottom: 2px;
    padding: 0 100px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.b-h1 span{
    color: #008aff;
}
.b-p {
    padding: 0 95px;
    line-height: 25px;
}
.b-img {
    margin: 0 0 0 90px;  /*etar margin just different korse becuz i just wanted to align it with the text in the image given by sir*/
    width: 80%;
}
.b-img img {
    width: 100%;
}
/* section for heading after navigation bar end */
/*-- ------------------------------------------------- --*/
/* success start */   
.success {
    padding: 70px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid black; */
}
.col-1 {
    width: 48%;
    float: left;
    text-align: end;
}
.col-1 h1 {
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 700;
    color: #F15767;
}
.col-1 p {
    margin-top: 5px;
    padding-left: 465px;
    line-height: 18px;
}
.col-2 h2 {
    margin-top: 38px;
    margin-bottom: 0;
    font-size: 48px;
    padding-right: 320px;
}
.col-2 {
    width: 50%;
    float: right;

}
/* success end */
/*-- ------------------------------------------------- --*/
/* three column section start  */
.ending-content {
    margin: 15px auto;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.col1 {
    border: 1px solid #0000002b;
    margin: 50px 0 0 25px;
    padding: 50px 27.4px;
    width: 30.9%;
    box-sizing: border-box;
    float: left;
}

.e-h1 h1 {
    font-size: 20px;
}
.e-p1, .e-p2, .e-p3 {
    font-size: 14px;
    padding-right: 75px;
    line-height: 22px;
}
.e-img img {
    width: 100%;
}

/* some transition to cols start */
.col1 {
    margin-bottom: 35px;
    border-radius: 10px;
    box-shadow: 0px 0 11px 3px #0000002b;
    
}
.special:hover {
    color: #008AFF;
    border: 1px solid #008AFF;
    transition: 0.33s;
    transform: scale(1.03);
}
/* some transition to cols end */

/* --------coloring each col seperately start */
.color1 {
    background-color: #FDEBED;
}
.color2 {
    /* padding-right: 90px; */
    background-color: #EBF9F4;
}
.color3 {
    background-color: #FFF7E8;
    margin-right: 0;
}
/* --------coloring each col seperately end */
/* three column section end  */
/*-- ------------------------------------------------- --*/
/* footer starts */
footer {
    margin: 25px 0 0 0 ;
    width: 100%;
}
footer p {
    margin-bottom: 0px;
    padding: 25px 0;
    color: rgba(255, 255, 255, 0.788);
    background-color: #008AFF;
    text-align: center;
    letter-spacing: 2px;
}
footer p a {
    text-decoration: none;
}
footer strong {
    font-size: 16px;
    color: white;
}
footer strong:hover {
    color: #0F2656;
    transition: .53s;
}
/* footer ends */
